<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>{{ message }}</h1>

		<input type="text" v-model="message">
		
		<h1>text area</h1>
		<pre>
			{{ $data | json }}
		</pre>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'Hello World'
			}
		})
	</script>
</body>

</html>