<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">

		<form>
			<span class="error" v-show="!message">
				You must enter a message
			</span>
			<br>
			<textarea cols="30" rows="10" v-model="message"></textarea>
			<br>
			<button type="submit" v-show="message">
				Send message
			</button>
		</form>
		<pre>
			{{ $data | json }}
		</pre>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'Hello World',
			}
		})
	</script>
</body>

</html>