<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<form action="01v-model.html" @submit.prevent="handleIt">
			<button type="submit">Submit</button>
		</form>

		<button type="submit" @click="updateCounter"> 
			Increatement counter: {{ count }}
		</button>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				count: 0,
			},
			methods: {
				handleIt: function (event) {
					alert('Handle')
					// event.preventDefault()
				},
				updateCounter: function () {
					this.count++
				}
			}
		})
	</script>
</body>

</html>