<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<counter subject="Likes"></counter>
		<counter subject="DisLikes"></counter>
	</div>

	<template id="counter-template">
		<h1>{{ subject }}</h1>
		<button @click="count++">Increament {{ count }}</button>
	</template>

	<script>
		Vue.component('counter', {
			template: '#counter-template',
			props: ['subject'],
			// props: {
			// 	subject: {
			// 		default: 'default'
			// 	}
			// }
			data: function () {
				return {
					count: 0
				}
			}
		})

		new Vue({
			el: '#app',

			// components: {
			// 	counter: {
			// 		template: '#counter-template',
			// 		props: ['subject'],
			// 		data: function () {
			// 			return {
			// 				count: 0
			// 			}
			// 		}
			// 	}
			// }
		})
	</script>
</body>

</html>