<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="points">
		<h1>Skill: {{ skill }} </h1>
	</div>

	<script>

		new Vue({
			el: '#app',
			data: {
				points: 50
			},
			computed: {
				skill: function () {
					return this.points > 100 ? 'Advancer' : 'Beginner'
				}
			}
		})
	</script>
</body>

</html>