<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>{{ fullName }}</h1>
		<input type="text" v-model="first">
		<input type="text" v-model="last">
	</div>

	<script>

		new Vue({
			el: '#app',
			data: {
				first: 'jinks',
				last: 'pen',
				fullName: 'jinks pen'
			},
			watch: {
				first: function (first) {
					this.fullName = first + ' ' + this.last
				},
				last: function (last) {
					this.fullName = this.first + ' ' + last
				}
			}
		})
	</script>
</body>

</html>