<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<div v-for="plan in plans">
			<plan :plan="plan" :active.sync="active"></plan>	
		</div>
	</div>
	
	<template id="plan-template">
		<span>
			{{ plan.name }} : 
		</span>
		<span>
			{{ plan.price }} / month
		</span>

		<button @click="setActivePlan" v-show="plan.name !== active.name">
			{{ isUpgrade ? 'upgrade' : 'Downgrade' }}
		</button>
		<span v-else>
			Selected
		</span>
	</template>
	<script>

		new Vue({
			el: '#app',
			data: {
				plans: [
					{ name: 'Enterprise', price: 100 },
					{ name: 'Pro', price: 50 },
					{ name: 'Personal', price: 10 },
					{ name: 'Free', price: 0 }
				],
				active: {} //async
			},
			components: {
				plan: {
					template: '#plan-template',
					props: ['plan', 'active'],
					methods: {
						setActivePlan: function () {
							this.active = this.plan
						}
					},
					computed: {
						isUpgrade: function () {
							return this.plan.price > this.active.price
						}
					}
				}
			}
		})
	</script>
</body>

</html>