<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/1.0.0-rc.1/vue.min.js"></script>
	<style>
		.completed {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<div id="app">
		<tasks :lists="tasks"></tasks>
	</div>
	
	
    <template id="tasks-template">
    	<ul>
    		<li 
    			:class="{'completed': task.completed}" 
    			v-for="task in lists"
    			@click="toggleCompletedFor(task)"
    		>
    			{{ task.body }}
    		</li>
    	</ul>
    </template>

	<script>

		Vue.component('tasks', {
			props: ['lists'],
			template: '#tasks-template',
			methods: {
				toggleCompletedFor: function (task) {
					task.completed = ! task.completed
				}
			}
		})

		new Vue({
			el: '#app',
			data: {
				tasks: [
					{body: 'Go to the store', completed: false},
					{body: 'Go to the bank', completed: false},
					{body: 'Go to the doctor', completed: true}
				]
			}
		})
	</script>
</body>

</html>